@import "react-slideshow-image/dist/styles.css";
body{
   background-color: #1a1a20;
}
.link {
   width: 100%;
   margin: 0;
   padding: 0;
}
.loading {
   width: 10%;
   position: absolute;
   padding: 1%;
   margin-bottom: 1%;
   right: 0;
   bottom: 0;
}

.slide-container {
   pointer-events: none;
   width: 100%;
   margin: auto;
   height: 101%;
   bottom: 0;
   position: fixed;
}

.lazy{
   opacity: 0.7 !important;
   z-index: -100;
   width: 100%;
}