@font-face {
   font-family: 'Jal_Onuel';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
.main h1 {
   margin: 0;
   z-index: 2;
   opacity: 1;
   text-align: center;
   padding-top: 1%;
}
.main-container {
   min-height: 91.4vh;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
}
.grid {
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 150px);
   grid-template-rows: repeat(3, 150px);
   transform: rotate(45deg);
}
.main-button {
   background: linear-gradient(45deg,#f12711,#f5af19);
   box-sizing: border-box;
   box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.6);
   border-radius: 2px;
   color: #efe8d8;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-button p {
   text-align: center;
   padding-top: 35%;
   padding-right: 35%;
   margin: 0;
   font-size: 20px;
   font-family: 'Jal_Onuel';
   font-weight: bold;
   transform: rotate(-45deg);
}

.main-button {
   transition-duration: 0.5s;
   overflow: hidden;
}